body {
	text-align: center;
	background: #333;
}

#logo {
	padding-top: 200px;
}

#search-bar {
	border: 1px solid #aaa;
	border-radius: 24px;
	height: 44px;
	width: 350px;
	margin: 30px;
	background: #333;
	color: #aaa;
	font-size: 16px;
	padding: 0px 10px
}

.search-buttons {
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #aaa;
	background-color: #333;
	font-size: 14px;
	margin: 10px;
	padding: 5px 10px;
}